/* general style for the whole document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: bold 14px Helvetica-Neue, sans-serif;
}

html {
	height: 100%;
	background: white;
	background-size: cover;
}

#calculator {
	width: 675px;
	height: auto;
	margin: 100px auto;
	padding: 20px 20px 9px;
	background: #333333;
	background: linear-gradient(#333333, #333333);
	border-radius: 3px;
	box-shadow: 0px 4px #333333, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.top span.clear {
	float: left;
}

.top .resultBox {
	height: 45px;
	width: 530px;
	float: right;
	padding: 0 10px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	font-size: 17px;
	line-height: 45px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}


/* general properties of the keys */

.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	cursor: pointer;
	width: 85px;
	height: 45px;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	margin: 0 7px 11px 0;
	color: #888;
	line-height: 36px;
	text-align: center;

}

.keys span.operator {
	background: #880000;
	margin: 0 7px 11px 0;
}

.keys span.spFunction {
	background: #27a53d;
	color: white;
	margin: 0 7px 11px 0;
}

/* effects added for the keys */

.keys span:hover {
	background: #44749D;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	color: white;
}

.keys span:active {
	box-shadow: 0px 0px #44749D;
	top: 4px;
}

/* this is the evaluate button */

.keys span.evaluate {
	background: #9F6164;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	color: #888;
}

.keys span.evaluate:hover {
	background: #9F6120;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	color: #888;
}

.keys span.evaluate:active {
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	top: 4px;
}

/* clear button */

.top span.clear {
	background: #FFF2BC;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	color: #888;
}

.top span.clear:active {
	top: 4px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
}

.top span.clear:hover {
	background: #F38630;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	color: #888;
}

.top, .keys {
	overflow: hidden;
	width: 630px;
	margin-right: 0px;
}

#testPanel {
	float: left;
	width: 300px;
	height: 100%;
	margin-left: 20px;
	display: none;
	overflow: scroll;
}

#visualization {
	float: right;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
			
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

		